.*
!.editorconfig
!.envrc.sh
!.eslintignore
!.eslintrc.js
!.gitignore
!.gitmodules
!.npmignore
!.storybook
!.tool-versions

storybook/
dist/
lib/
build/
/node_modules
yarn-debug.log*
yarn-error.log*
coverage/
