@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../font/inter/Inter-VariableFont_slntwght.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(../font/lato/Lato-Regular.ttf) format('truetype');
}

.root {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.35em;
  padding: 0.25em;
  overflow-wrap: break-word;
  word-break: break-word;
}

.content {
  height: 100%;
  position: relative;
  border-radius: 0.35em;
}

.background {
  position: relative;
  height: 9.375em;
  margin-bottom: 4.0em;
}

.backgroundImage {
  border-top-left-radius: 0.40em;
  border-top-right-radius: 0.40em;
  height: 9.375em;
  width: 100%;
  mask-image: radial-gradient(circle 3.125em at calc(0.75em + 3.125em) 100%, transparent 3.125em, white 0);
}

.badges {
  box-sizing: content-box;
  display: flex;
  right: 0;
  position: absolute;
  align-items: center;
  padding: 5;
  /*   = (backgroundImage.height + (badges.height + badges.paddingVertical) / 2) */
  top: calc(9.375em + (0.95em + 0.45em * 2) / 2);
  height: 0.95em;
  padding: 0.45em 0.25em;
  margin-right: calc(0.75em + 0.4em);
  border-radius: 0.55em;
}

.badge {
  height: 100%;
  width: 0.90em;
  margin: 0 0.25em;
}

.badge img {
  height: 100%;
  width: 100%;
}

.avatar {
  position: absolute;
  bottom: -3.125em;
  left: 0.75em;
  width: 6.25em;
  height: 6.25em;
  background-color: transparent;
  padding: 0.40em;
  border-radius: 50%;
}
.avatar a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
}
.avatar img {
  display: block;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.statusBorder {
  position: absolute;
  bottom: 0px;
  /* = (avatar.padding / 2) */
  right: calc(0.40em / 2);
  bottom: calc(0.40em / 2);
  display: block;
  background-color: green;
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
}

.status {
  position: absolute;
  /* = (statusBorder.height / 2) */
  top: calc(50% - 1.00em / 2);
  left: calc(50% - 1.00em / 2);
  display: block;
  background-color: green;
  width: 1.00em;
  height: 1.00em;
  border-radius: 50%;

}

.namePlate {
  display: flex;
  flex-direction: column;
  justify-items: normal;
  border-radius: 0.35em;
  margin-bottom: calc(0.75em + 0.4em);
  margin-left: calc(0.75em + 0.4em);
  margin-right: calc(0.75em + 0.4em);
  padding: 0.80em;
}

.namePlateHeader {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.4em;
}

.about h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  font-family: Lato, "Open Sans", Roboto, sans-serif;
  margin-bottom: 0.4em;
}

.about p {
  white-space: pre-line;
  margin-bottom: 0.8em;
}

.memberSince h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  font-family: Lato, "Open Sans", Roboto, sans-serif;
  margin-bottom: 0.4em;
}

.memberSince p {
  white-space: pre-line;
  margin-bottom: 0.8em;
}

.activities {
  display: flex;
  flex-direction: column;
}

.activities h3 {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  font-family: Lato, "Open Sans", Roboto, sans-serif;
  margin-bottom: 0.4em;
}

.activity {
  display: flex;
  flex-direction: row;
  height: 8.25em;
}

.activityDetails h3 {
  text-transform: unset;
  display: block;
  font-weight: 600;
  font-size: 0.9em;
  font-family: Lato, "Open Sans", Roboto, sans-serif;
  margin-bottom: 0.4em;
}

.activityIcon {
  position: relative;
  height: 100%;
}

.activityIconBadge {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3em;
  height: 3em;
}

.emoji {
  width: 1em;
  height: 1em;
}

.hr {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  border: none;
  height: 1px;
  background-repeat: no-repeat;
  background-size: 100% 0.05em;
  background-position: center;
  background-image: linear-gradient(
    90deg,
    rgba(0,0,0,0)                                                           0%,
    hsl(0, 0%, 70%)                                                         2%,
    hsl(0, 0%, 70%)                                                         98%,
    rgba(0,0,0,0)                                                           100%);
  color: hsl(0, 0%, 20%);
  text-align: center;

  height: 0.75em;
}


