@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../font/inter/Inter-VariableFont_slntwght.ttf) format('truetype');
}


.loadingWhite {
  background-image: url(../image/DiscordMarkWhite.svg);
}
.loadingBlack {
  background-image: url(../image/DiscordMarkBlack.svg);
}
