@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(https://github.com/Nate-Wilkins/react-discord-presence/blob/main/src/display/font/inter/Inter-VariableFont_slntwght.ttf) format('truetype');
}


.root {
  --discord-presence-width: 30em;
  --discord-presence-state-height: 45em;
  --discord-presence-font-family-primary: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --discord-presence-border-radius: 0.35em;
  --discord-presence-banner-height: 9.375em;

  all: initial;
  box-sizing: border-box;
  font-family: var(--discord-presence-font-family-primary);
  font-weight: 400;
  font-size: inherit;
  width: var(--discord-presence-width);
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--discord-presence-border-radius);
  padding: 0.25em;
  overflow-wrap: break-word;
  word-break: break-word;
}
.root * {
  /* TODO: Need more research in how 'all: unset' works bc I think it could help 'normalize' here. */
  font-family: var(--discord-presence-font-family-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  height: 100%;
  position: relative;
  border-radius: var(--discord-presence-border-radius);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--discord-presence-state-height);
}
.error svg {
  font-size: 10em;
}
.error h3 {
  font-weight: 600;
  margin-bottom: 0.8em;
}
.error p {
  max-height: 20em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  overflow-y: auto;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--discord-presence-state-height);
  animation: discordPresenceLoadingSpinner 3.2s linear infinite;
  background-repeat: no-repeat;
  background-position: center;
  scale: .3;
}
.loadingWhite {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/react-discord-presence/main/src/display/image/DiscordMarkWhite.svg);
}
.loadingBlack {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/react-discord-presence/main/src/display/image/DiscordMarkBlack.svg);
}
@keyframes discordPresenceLoadingSpinner {
  0% {
    scale: 0.3;
  }
  50% {
    scale: 0.4;
  }
  100% {
    scale: 0.3;
  }
}

.background {
  position: relative;
  display: block;
  height: var(--discord-presence-banner-height);
  margin-bottom: 4.0em;
}

.backgroundImage {
  border-top-left-radius: var(--discord-presence-border-radius);
  border-top-right-radius: var(--discord-presence-border-radius);
  height: var(--discord-presence-banner-height);
  width: 100%;
  mask-image: radial-gradient(circle 3.125em at calc(0.75em + 3.125em) 100%, transparent 3.125em, white 0);
  -webkit-mask-image: radial-gradient(circle 3.125em at calc(0.75em + 3.125em) 100%, transparent 3.125em, white 0);
}

.badges {
  box-sizing: content-box;
  display: flex;
  right: 0;
  position: absolute;
  align-items: center;
  /*   = (backgroundImage.height + (badges.height + badges.paddingVertical) / 2) */
  top: calc(var(--discord-presence-banner-height) - (4em / 2) + (1.45em * 2));
  height: 1.75em;
  padding: 0.20em 0.20em;
  margin-right: calc(0.75em + 0.4em);
  border-radius: 0.55em;
}

.badge {
  position: relative;
  display: block;
  width: 1.45em;
  height: 1.75em;
  margin: 0 0.25em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.popover {
  position: absolute;
  top: -3em;
  width: fit-content;
  white-space: pre;
  background-color: #202225;
  padding: 0.4em;
  border-radius: var(--discord-presence-border-radius);
}

.badgeStaff {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/discordstaff.svg);
}
.badgePartner {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/discordpartner.svg);
}
.badgeHypesquad {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/hypesquadevents.svg);
}
.badgeBugHunterLevel1 {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/discordbughunter1.svg);
}
.badgeHypeSquadOnlineHouse1 {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/hypesquadbravery.svg);
}
.badgeHypeSquadOnlineHouse2 {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/hypesquadbrilliance.svg);
}
.badgeHypeSquadOnlineHouse3 {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/hypesquadbalance.svg);
}
.badgePremiumEarlySupporter {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/discordearlysupporter.svg);
}
.badgeTeamPseudoUser {
  /* TODO: Not Supported 'TeamPseudoUser'. */
}
.badgeBugHunterLevel2 {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/discordbughunter2.svg);
}
.badgeVerifiedBot {
  /* TODO: Not Supported 'VerifiedBot'. */
}
.badgeVerifiedDeveloper {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/discordbotdev.svg);
}
.badgeCertifiedModerator {
  /* TODO: Not Supported 'CertifiedModerator'. */
}
.badgeBotHTTPInteractions {
  /* TODO: Not Supported 'BotHTTPInteractions'. */
}
.badgeSpammer {
  /* TODO: Not Supported 'Spammer'. */
}
.badgeActiveDeveloper {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/activedeveloper.svg);
}
.badgeQuarantined {
  /* TODO: Not Supported 'Quarantined'. */
}
.badgePremiumMemberSince {
  background-image: url(https://raw.githubusercontent.com/Nate-Wilkins/discord-badges/main/assets/premium_member_since.webp);
}

.badge img {
  height: 100%;
  width: 100%;
}

.avatar {
  position: absolute;
  bottom: -3.125em;
  left: 0.75em;
  width: 6.25em;
  height: 6.25em;
  background-color: transparent;
  padding: 0.4em;
  border-radius: 50%;
}
.avatar a {
  all: unset;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.avatarViewProfileContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  border-radius: 0.35em;
}
.avatar img {
  display: block;
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding: 0.4em;
}
.avatarViewProfile {
  color: #ffffff;
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.03em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  background-color: hsla(0, 0%, 0%, 60%);
  transition: all 140ms ease-in;
}
.avatarViewProfile:hover {
  opacity: 1;
}

.statusBorder {
  position: absolute;
  bottom: 0px;
  /* = (avatar.padding / 2) */
  right: calc(0.40em / 2);
  bottom: calc(0.40em / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  /* Set by inline style. */
  background-color: yellow;
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  pointer-events: none;
}

.status {
  display: block;
  /* Set by inline style. */
  background-color: yellow;
  width: 1.00em;
  height: 1.00em;
  border-radius: 50%;
}

.statusMobile {
  font-size: 1em;
}

.namePlate {
  display: flex;
  flex-direction: column;
  justify-items: normal;
  border-radius: var(--discord-presence-border-radius);
  margin-bottom: calc(0.75em + 0.4em);
  margin-left: calc(0.75em + 0.4em);
  margin-right: calc(0.75em + 0.4em);
  padding: 0.80em;
}

.namePlateHeader {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.8em;
}

.about h3 {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

.about p {
  display: block;
  white-space: pre-line;
  margin-bottom: 0.8em;
}

.memberSince h3 {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

.memberSince p {
  display: block;
  white-space: pre-line;
  margin-bottom: 0.8em;
}

.listeningToSpotify {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.listeningToSpotify h3 {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

.spotifySong {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.spotifySongProgressBar {
  width: 100%;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  border-radius: 1em;
  /* Set by inline style. */
  background-color: red;
}

.spotifySongProgressBarProgress {
  height: 0.3em;
  border-radius: 1em;
  /* Set by inline style. */
  background-color: green;
}

.spotifySongProgressBarDetails {
  display: flex;
  justify-content: space-between;
}

.activities {
  display: flex;
  flex-direction: column;
}

.activities h3 {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

.activity {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.activity:not(:last-child) {
  margin-bottom: 0.4em;
}

.activityDetails h3 {
  text-transform: unset;
  display: block;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

.activityDetails p {
  display: block;
  white-space: pre-line;
  margin-bottom: 0.2em;
}

.activityIcon {
  position: relative;
  display: flex;
  height: 6em;
  aspect-ratio: 1 / 1;
  margin-right: 1em;
}

.activityIconImage {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-radius: 0.65em;
}

.activityIconBadgeImage {
  position: absolute;
  right: -0.5em;
  bottom: -0.5em;
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  pointer-events: none;
  padding: 0.25em;
}

.emoji {
  width: 1em;
  height: 1em;
}

.hr {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  border: none;
  height: 0.75em;
  background-repeat: no-repeat;
  background-size: 100% 0.05em;
  background-position: center;
  background-image: linear-gradient(
    90deg,
    rgba(0,0,0,0)                                                           0%,
    hsl(0, 0%, 70%)                                                         2%,
    hsl(0, 0%, 70%)                                                         98%,
    rgba(0,0,0,0)                                                           100%);
  color: hsl(0, 0%, 20%);
  text-align: center;
}
