@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../font/inter/Inter-VariableFont_slntwght.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(../font/lato/Lato-Regular.ttf) format('truetype');
}


.loadingWhite {
  background-image: url(../image/DiscordMarkWhite.svg);
}
.loadingBlack {
  background-image: url(../image/DiscordMarkBlack.svg);
}


.badgeStaff {
  background-image: url(../../../deps/discord-badges/assets/discordstaff.svg);
}
.badgePartner {
  background-image: url(../../../deps/discord-badges/assets/discordpartner.svg);
}
.badgeHypesquad {
  background-image: url(../../../deps/discord-badges/assets/hypesquadevents.svg);
}
.badgeBugHunterLevel1 {
  background-image: url(../../../deps/discord-badges/assets/discordbughunter1.svg);
}
.badgeHypeSquadOnlineHouse1 {
  background-image: url(../../../deps/discord-badges/assets/hypesquadbravery.svg);
}
.badgeHypeSquadOnlineHouse2 {
  background-image: url(../../../deps/discord-badges/assets/hypesquadbrilliance.svg);
}
.badgeHypeSquadOnlineHouse3 {
  background-image: url(../../../deps/discord-badges/assets/hypesquadbalance.svg);
}
.badgePremiumEarlySupporter {
  background-image: url(../../../deps/discord-badges/assets/discordearlysupporter.svg);
}
.badgeTeamPseudoUser {
  /* TODO: Not Supported 'TeamPseudoUser'. */
}
.badgeBugHunterLevel2 {
  background-image: url(../../../deps/discord-badges/assets/discordbughunter2.svg);
}
.badgeVerifiedBot {
  /* TODO: Not Supported 'VerifiedBot'. */
}
.badgeVerifiedDeveloper {
  background-image: url(../../../deps/discord-badges/assets/activedeveloper.svg);
}
.badgeCertifiedModerator {
  /* TODO: Not Supported 'CertifiedModerator'. */
}
.badgeBotHTTPInteractions {
  /* TODO: Not Supported 'BotHTTPInteractions'. */
}
.badgeSpammer {
  /* TODO: Not Supported 'Spammer'. */
}
.badgeActiveDeveloper {
  background-image: url(../../../deps/discord-badges/assets/activedeveloper.svg);
}
.badgeQuarantined {
  /* TODO: Not Supported 'Quarantined'. */
}
.badgePremiumMemberSince {
  background-image: url(../../../deps/discord-badges/assets/premium_member_since.webp);
}
